{% extends 'base.html.twig' %}

{% block content %}
  <h1>Save new Todo</h1>

  {% if app.session.flashbag.peek('error') is not empty %}
    {% for message in app.flashes('error') %}
      <div class="alert alert-danger">
        <p>{{ message }}</p>
      </div>
    {% endfor %}
  {% endif %}

  {{ form(form) }}
{% endblock %}